//-------------------- COLORS ---------------------//

$body-color: #278dd1;
$primary-blue: #3498db;
$grey: #afafaf;
$dark-grey: #a4a4a4;
$light-grey: #d0d0d0;
$white: #fff;
$lighter-grey: whitesmoke;

