//General styles

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

p {
  font-size: 16px;
}

body {
  padding-bottom: 20px;
  background: $body-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// COLOR DEFINITIONS

.bg-light-grey {
  background: $light-grey;
}
.bg-grey {
  background: $grey;
}

.bg-white {
  background: $white;
}

.bg-lighter-grey {
  background: $lighter-grey;
}

// Reusable navigation and menu font style
.menu-font {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11px;
}


// Section shared styles

.about, .article, .portfolio {

  h2 {
    margin-bottom: 30px;
  }

  p {
    line-height: 30px;
    color: $grey;
  }

}

.white-box {

  .inner-content {
    width: 60%;
    margin: 0 auto;
    padding: 70px 0;
  }

}

.nav {

  > li {

    > a {

      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 0.8;
        background: transparent;
      }
    }
  }

}


/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 84%;
  }
}
