header {

  .title {
    font-size: 40px;
  }

  .subtitle {
    margin-top: 25px;
    font-size: 16px;
  }

  .container {
    padding-top: 50px;
    min-height: 900px;
    color: $white;
  }

  .header-content {
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .teaser {
    font-weight: 600;
    margin-bottom: 20px;
  }


}
