nav {

  .navbar-toggle {
    margin-top: 20px;

    .icon-bar {
      background: $white;
    }
  }

  .navbar-collapse.in {
    background: $grey;
  }


  .nav {
    padding: 15px 90px;

    > li {

      > a {
        color: $white;
      }
    }

    .search-btn {
      width: 22px;
    }

  }

  .logo {
    background-image: url('../../images/logo.png');
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px 0 0 50px;
  }


}
