.portfolio-menu {

  > li {
    display: inline-block;
    float: none;
    margin: 0 15px;

    > a {
      font-weight: bold;
      font-size: 12px;
      color: #278dd1;
      padding: 10px 0;
      border-bottom: 2px solid transparent;
    }

    > a:hover {
      border-bottom: 2px solid #278dd1;
    }
  }

}
