<section class="about white-box" id="about-section">
  <div class="container bg-white">
    <div class="inner-content text-center">
      <h2>About Feeder</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum facilisis tellus, nec varius enim euismod ut. Sed in erat libero. Donec venenatis purus a sollicitudin hendrerit. Pellentesque imperdiet sapien vel velit rhoncus suscipit. Praesent commodo blandit enim. Suspendisse quis leo rutrum, auctor nulla vel, elementum lectus. Nunc libero arcu, mattis ut blandit a, congue nec odio.</p>
    </div>
  </div>
</section>
