<section class="article" id="article-section">
  <div class="container bg-light-grey">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="bg-lighter-grey col-md-6">
        <div class="inner-content text-left">
          <h2>Why to choose Feeder</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum facilisis tellus, nec varius enim euismod ut. Sed in erat libero. Donec venenatis purus a sollicitudin hendrerit. Pellentesque imperdiet sapien vel velit rhoncus suscipit.</p>
          <p>Donec ut dui quis odio vulputate egestas vitae pellentesque nisl. Nam varius ipsum lorem. Nam dapibus ultricies quam, aliquam rhoncus odio elementum vitae. Proin fringilla pretium magna, in semper lectus pretium eu</p>
          <p>Vestibulum elementum lacus eu imperdiet tempor. Donec ultricies turpis ac quam feugiat, at hendrerit nunc tristique. Proin suscipit erat id ultricies volutpat. Vivamus id urna imperdiet, efficitur lorem id, rhoncus urna.</p>
        </div>
      </div>
    </div>
  </div>
</section>
