<section class="gallery">
  <div class="container">
    <div class="grid row">
      <div class="grid-sizer"></div>
      <div class="grid-item grid-item-height-1"><img class="img-responsive" src="http://lorempixel.com/400/400/sports/"></div>
      <div class="grid-item grid-item-height-5-4"><img class="img-responsive" src="http://lorempixel.com/400/500/sports/"></div>
      <div class="grid-item grid-item-height-3-4"><img class="img-responsive" src="http://lorempixel.com/400/300/sports/"></div>
      <div class="grid-item grid-item-height-1"><img class="img-responsive" src="http://lorempixel.com/400/400/sports/"></div>
      <div class="grid-item grid-item-height-1"><img class="img-responsive" src="http://lorempixel.com/400/400/sports/"></div>
      <div class="grid-item grid-item grid-item-height-3-4"><img class="img-responsive" src="http://lorempixel.com/400/300/sports/"></div>
      <div class="grid-item grid-item grid-item-height-5-4"><img class="img-responsive" src="http://lorempixel.com/400/500/sports/"></div>
      <div class="grid-item grid-item-height-1"><img class="img-responsive" src="http://lorempixel.com/400/400/sports/"></div>
    </div>
  </div>
</section>
