<section class="portfolio white-box" id="portfolio-section">
  <div class="container bg-white">
    <div class="inner-content text-center">
      <h2>Portfolio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul class="portfolio-menu menu-font nav text-center">
        <li><a href="#">All</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Identity</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Web design</a></li>
      </ul>
    </div>
  </div>
</section>
